.catalogEntry {
    display: grid;
    grid-template-columns: 80px 4fr minmax(40px, 1fr);
    gap: var(--spacing-xs);
    padding: var(--spacing-s);
    border-radius: 8px;
    color: var(--text-color);
    text-decoration: none;

    &:hover {
        opacity: 0.8;
    }

    .title {
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    .id, .year {
        color: var(--secondary-text-color)
    }

    &:nth-child(even) {
        background-color: var(--table-row-even);
    }

    &:nth-child(odd) {
        background-color: var(--table-row-odd);
    }

}
