.catalogEntry {
    display: grid;
    grid-template-columns: minmax(48px, 1fr) 4fr minmax(48px, 1fr);
    gap: var(--spacing-xs);
    padding: var(--spacing-s);
    border-radius: 8px;
    color: var(--text-color);
    text-decoration: none;

    &:hover {
        opacity: 0.8;
    }

    & > * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .title {
        font-weight: 500;
    }

    .id {
        font-family: 'Courier New', Courier, monospace;
    }

    .id, .year {
        color: var(--secondary-text-color)
    }

    &:nth-child(even) {
        background-color: var(--table-row-even);
    }

    &:nth-child(odd) {
        background-color: var(--table-row-odd);
    }

}
